<appSettings>
  <clear />
  <add key="network" value="SCAN" />
  <add key="vocabulary" value="SCAN" />
  <add key="contactEmail" value="jirikadlec2@gmail.com" />
  <add key="returnUndefinedUTCorLocal" value="UTC" />
  <!-- Undefined (Default) - Return no offset, even if a UTC Offset is provided
       Local - Attempt to shift to Local time of server
       UTC - Return UTC Times
       -->
  <add key="GetValuesName" value="Local OD GetValues" />
  <add key="serviceLevel" value="Testing" />
  <add key="serviceDescriptionPage" value="http://hiscentral.cuahsi.org/pub_network.aspx?n=182" />
  <add key="asmxPage" value="cuahsi_1_0.asmx" />
  <add key="asmxPage_1_1" value="cuahsi_1_1.asmx" />
  <add key="UseODForInformation" value="true" />
  <add key="UseODForSeries" value="true" />
  <add key="UseODForValues" value="true" />
  <add key="externalGetValuesService" value="http://www7.ncdc.noaa.gov/CUAHSIServices/CUAHSIServices" />
  <add key="requireAuthToken" value="false" />
  <add key="defaultSpatialReferenceSystemSRSID" value="4326" />
  <add key="SRSPrefix" value="EPSG:" />
  <add key="MinimalSQLDate" value="1753-01-01" />
  <add key="AdminIPAddress" value="127.0.0.1" />
  <add key="EncryptConnectionString" value="False" />
  <add key="clientIPUrl" value="http://www.ippages.com/xml/"/>

  <!-- uncomment and Use the following setting to exclude some time-aggregated variables from the WaterML response -->
  <!-- <add key="exclude_durations" value="WATER_YEAR, CALENDAR_YEAR, YEARLY, SEASONAL, MONTHLY, SEMIMONTHLY"/> -->
</appSettings>