<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
      <add name="OdmConnection" connectionString="Server=sql6.aspone.cz;Database=db2893;User ID=db2893;Password=2c506bbe;"
       providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>