<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="customAppSettingsGroup">
      <section name="customAppSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </sectionGroup>
  </configSections>
  <customAppSettingsGroup>
    <customAppSettings>
      
      <!-- set use_cocorahs to "false" if you do not want to harvest CoCoRaHS 3rd-party sites -->
      <add key="sites_url" value="https://docs.google.com/spreadsheets/d/1UK8Brhi9e4IG3YZAM67ljN42hq2n-3GfseeloXA1Hbc/edit?usp=sharing"/>

      <!-- set use_snotel to "false" if you do not want to harvest SNOTEL 3rd-party sites -->
      <add key="use_snotel" value="false"/>

      <!-- db_batch_size determines the number of rows sent to the DB in one "batch" when updating the Sites and SeriesCatalog table.
           if you are getting database connection timeouts, try decreasing db_batch_size to a smaller value. -->
      <add key="db_batch_size" value="500"/>
      
    </customAppSettings>
  </customAppSettingsGroup>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <connectionStrings configSource="ConnectionStrings.config"/>
</configuration>
