<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
      <!--<add name="OdmConnection" connectionString="Server=MSEUL-P5510\SQLEXPRESS;Database=ODM_GHCN;User ID=dev;Password=cuahsi;"
  providerName="System.Data.SqlClient" />-->

      <add name="OdmConnection" connectionString="Data Source=bhi5g2ajst.database.windows.net,1433;Initial Catalog=ODM_GHCN; Integrated Security=false;Persist Security Info=true; User ID=hiscentraladmin;Password=F@deratedResearch" providerName="System.Data.SqlClient" />

    </connectionStrings>
</configuration>