<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="customAppSettingsGroup">
      <section name="customAppSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
  </configSections>
  <customAppSettingsGroup>
    <customAppSettings>
      
      <!-- set use_cocorahs to "false" if you do not want to harvest CoCoRaHS 3rd-party sites -->
      <add key="use_cocorahs" value="true"/>

      <!-- set use_snotel to "false" if you do not want to harvest SNOTEL 3rd-party sites -->
      <add key="use_snotel" value="true"/>

      <!-- db_batch_size determines the number of rows sent to the DB in one "batch" when updating the Sites and SeriesCatalog table.
           if you are getting database connection timeouts, try decreasing db_batch_size to a smaller value. -->
      <add key="db_batch_size" value="500" />
      
    </customAppSettings>
  </customAppSettingsGroup>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <!--<add name="OdmConnection" connectionString="Server=MSEUL-P5510\SQLEXPRESS;Database=ODM_GHCN;User ID=dev;Password=cuahsi;"
providerName="System.Data.SqlClient" />-->

    <add name="OdmConnection" connectionString="server=sql7.aspone.cz;uid=db3930;pwd=AnnAgnps(v1);database=db3930" providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>