<?xml version="1.0"?>
<!-- 
    Poznámka: Jako alternativu k ruční úpravě tohoto souboru lze použít 
    nástroj pro správu webu a nakonfigurovat nastavení aplikace. Použijte
    možnost Web->Konfigurace Asp.Net v sadě Visual Studio.
    Úplný seznam nastavení a komentářů naleznete v souboru 
    machine.config.comments, který je obvykle uložen ve složce 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <appSettings file="appsettings.config"/>
  <connectionStrings configSource="ConnectionStrings.config"/>
  <!--
    Popis změn souboru web.config naleznete na adrese http://go.microsoft.com/fwlink/?LinkId=235367.

    Ve značce <httpRuntime> lze nastavit následující atributy.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
          Pokud chcete do kompilované stránky vložit symboly pro ladění,
          nastavte hodnotu kompilace debug="true". Tato hodnota 
          ovlivňuje výkon, a proto ji nastavujte na true 
          jenom při vývoji.
      -->
    <compilation debug="true" targetFramework="4.5"/>
    <!--
        Oddíl <authentication> umožňuje konfigurovat 
        režim ověřování zabezpečení použitý 
        technologií ASP.NET k identifikaci příchozích uživatelů. 
      -->
    <authentication mode="Windows"/>
    <!--
         Oddíl <customErrors> umožňuje konfigurovat akce 
         prováděné v případě neošetřené chyby 
         během provádění požadavku. Konkrétně 
         umožňuje vývojářům konfigurovat chybové stránky HTML, 
         které se zobrazí místo trasování zásobníku chyb.

         <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
           <error statusCode="403" redirect="NoAccess.htm" />
           <error statusCode="404" redirect="FileNotFound.htm" />
         </customErrors>
      -->
    <webServices>
      <wsdlHelpGenerator href="DefaultWsdlHelpGenerator_xmlHttp.aspx"/>
      <!--<soapExtensionImporterTypes>
        <add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </soapExtensionImporterTypes>
      <soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>-->
      <protocols>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
      Oddíl system.webServer se vyžaduje ke spuštění prvku ASP.NET AJAX v rámci Internetové
      informační služby 7.0. Pro předchozí verze služby IIS se nevyžaduje.
  -->
</configuration>