<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
      <add name="OdmConnection" connectionString="server=sql7.aspone.cz;uid=db3933;pwd=AnnAgnps(v4);database=db3933"
       providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AwdbWebServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="AwdbWebServiceSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://wcc.sc.egov.usda.gov/awdbWebService/services"
                binding="basicHttpBinding" bindingConfiguration="AwdbWebServiceSoapBinding"
                contract="Awdb.AwdbWebService" name="AwdbWebServiceImplPort" />
        </client>
    </system.serviceModel>
</configuration>