<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings configSource="ConnectionStrings.config"/>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AwdbWebServiceSoapBinding" maxReceivedMessageSize="147483647" >
                    <security mode="Transport" />
                </binding>
                <binding name="AwdbWebServiceSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://wcc.sc.egov.usda.gov/awdbWebService/services"
                binding="basicHttpBinding" bindingConfiguration="AwdbWebServiceSoapBinding"
                contract="Awdb.AwdbWebService" name="AwdbWebServiceImplPort" />
        </client>
    </system.serviceModel>
</configuration>