<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <clear />
  <add name="OdmConnection" connectionString="server=bhi5g2ajst.database.windows.net,1433;uid=hiscentraladmin;pwd=F@deratedResearch;database=ODM_Snotel2" providerName="System.Data.SqlClient" />

  <!--<add name="OdmConnection" connectionString="server=bhi5g2ajst.database.windows.net,1433;uid=hiscentraladmin;pwd=F@deratedResearch;database=ODM_Snotel" providerName="System.Data.SqlClient" />-->
  <!--<add name="OdmConnection" connectionString="server=MSEUL-P5510\SQLEXPRESS;uid=dev;pwd=cuahs1;database=ODM_Snotel" providerName="System.Data.SqlClient" />-->
</connectionStrings>