<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <clear />
  <add name="OdmConnection" connectionString="Data Source=bhi5g2ajst.database.windows.net,1433;Initial Catalog=ODM_NEOn; 
       Integrated Security=false;Persist Security Info=true; User ID=hiscentraladmin;Password=F@deratedResearch" providerName="System.Data.SqlClient" />
</connectionStrings>