<connectionStrings>
  <clear />
  <add name="OdmConnection2" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=plaveninycz1;Integrated Security=True;"
   providerName="System.Data.SqlClient" />
  <add name="OdmConnection" connectionString="Data Source=sql6.aspone.cz;Initial Catalog=db3275;User Id=db3275;Password=2c506bbe;"
   providerName="System.Data.SqlClient" />
</connectionStrings>
