<connectionStrings>
  <clear />
  <add name="OdmConnection" connectionString="Data Source=bhi5g2ajst.database.windows.net,1433;Initial Catalog=ODM_GHCN; 
       Integrated Security=false;Persist Security Info=true; User ID=hiscentraladmin;Password=F@deratedResearch" providerName="System.Data.SqlClient" />

  
</connectionStrings>
