<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <connectionStrings configSource="ConnectionStrings.config" />
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AwdbWebServiceSoapBinding" maxReceivedMessageSize="147483647">
                    <security mode="Transport" />
                </binding>
                <binding name="AwdbWebServiceSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://wcc.sc.egov.usda.gov/awdbWebService/services" binding="basicHttpBinding" bindingConfiguration="AwdbWebServiceSoapBinding" contract="Awdb.AwdbWebService" name="AwdbWebServiceImplPort" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
